*{
	padding: 0;
	margin: 0;
}
html,body{
	height: 100%;
	width: 100%;
}
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Source Sans Pro', sans-serif;
 }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
margin:0;
padding:0;
}
/*----*/
.banner{
background:url(http://ide.msmn.cn/uploads/1077/5ec8d054e1c93.jpg) no-repeat 0px 0px;
min-height:580px;
background-size:cover;
}
.header{
  padding: 1em 0 0;
}
.logo{
float:left;
}
.logo a{
display:inline-block;
}
.logo h2{
	color: white;
	padding: 15px;
	display: inline-block;
  background-color: #02266b;
}
.logo h3{
	display: inline-block;
	padding-left: 10px;
	color: #02266b;
}
.top-menu{
  float: right;
}
.top-menu ul li{
display:inline-block;
}
.top-menu ul li a{
color:#fff;
font-size:1.1em;
padding:1em 1em 0em 1em;
text-decoration:none;
display:block;
font-weight:400;
}
.top-menu ul li a:hover{
color:#0199e6;
}
.banner-text{
margin-top:6%;
text-align:center;
}
.banner-text h1{
font-size:2.8em;
color:#fff;
font-weight:500;
margin-bottom:0.5em;
font-family: 'Raleway', sans-serif;
}
.banner-text h2{
font-size: 1.4em;
line-height: 1.5em;
color: #02266b;
font-weight: 300;
width: 80%;
margin: 0 auto;
}
.banner-text ul{
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	list-style-type: none;
	text-decoration: underline;
}
.banner-text ul>li{
	padding: 10px 0;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.get-start .container{
	text-align: center;
}
.container{
	text-align: center;
}
.container img{
	height: 230px;
	width: 300px;
}
.get-started{
	background-color: #02266b;
	padding-top: 10px;
	color: #fff;
}
.get-started h4{
	color: #fff;
}